<div class="container">
	<div class="row">
		<div class="col-lg-9" style="padding: 0 30px 30px;">
			<div class="comments">
				<header>
					<div class="pull-right">
						<a href="#commentReply" class="btn btn-primary"><i class="icon-comment-alt"></i> 发表评论</a>
					</div>
					<h3>所有评论</h3>
				</header>
				<section class="comments-list">
					#{list comments, as:'comment'}
						#{include '/cms/ArticleController/sectionComment.html' /}
					#{/list}
				</section>
				#{if article.comments.size() > 10}
				<div class="readmore"><a href="javascript:;" class="focusest">加载更多 <i class="icon-chevron-down"></i></a></div>
				#{/if}
				<footer>
					<div class="reply-form" id="commentReply">
						<a href="###" class="avatar"><i class="icon-user icon-2x"></i></a>
						<form class="form">
							<div class="form-group">
								<textarea class="form-control new-comment-text" rows="2" id="content" placeholder="撰写评论..."></textarea>
							</div>
							<div class="form-group comment-user">
								<div class="row">
									<div class="col-md-2"><button type="button" class="btn btn-block btn-primary" id="send_comment">评论</button></div>
								</div>
							</div>
						</form>
					</div>
				</footer>
			</div>
		</div>
	</div>
</div>

#{set 'commentScripts'}
<script>
	$(function(){
		$("#send_comment").click(function(){
			var content = $("#content").val();
			$.ajax({
				url:'/article/add/comment?id=${article.id}',
				type:'post',
				data:{'comment.comment':content},
				success:function(data){
					$(".comments-list").prepend(data);
					$("#content").val('');
					new $.zui.Messager('评论成功', {
				        icon: 'icon-comment',
				        placement:'bottom',
				        type:'success'
				    }).show();
				},
				error:function(e){
					console.log(e);
				}
			})
		})
		var commentPage = 2;
		$(".readmore").click(function(){
			$.ajax({
				url:'/article/get/comments?id=${article.id}&size=10&page='+commentPage,
				type:'get',
				success:function(data){
					if(data){
						$(".comments-list").append(data);
						commentPage++;
					}else{
						$(".readmore").remove();
					}
				},
				error:function(e){
					console.log(e);
				}
			})
		})
	})
</script>
#{/set}