#{extends '/layout/main.html' /}
#{set title:'中环蓝' /}

#{include './carousel.html' /}

<div class="container">
	<div class="row">
		<div class="col-lg-12 second_nav">
			<ul class="nav nav-primary nav-justified" style="border-radius: 0px;">
				<li class="active">
					<a href="#tab1">环保大学</a>
				</li>
				<li>
					<a href="#tab2">购环保</a>
				</li>
				<li>
					<a href="#tab3">环保经济</a>
				</li>
				<li>
					<a href="#tab4">环保与健康</a>
				</li>
			</ul>

		</div>
	</div>
</div>

<div class="container" id="tab2">
	<div class="row">
		<div class="col-lg-12">
			<div class="list">
				<!-- 列表头部 -->
				<div class="cards show_goods">
					<div class="col-lg-6">
						<div class="col-lg-8 googs_img">
							<a class="card" href="###">
								<img src="/public/cnenvs/img/goods1.jpg" alt="">
							</a>
						</div>
						<div class="col-lg-4 goods_detail">
							<div class="card-heading">
								<strong>居美现代简约亮光漆卧房四件套</strong>
							</div>
							<div class="card-content text-muted">全国可配送</div>
							<span class="text-red price">￥183</span>
							<a href="" class="label label-info">去看看 ></a>
						</div>

					</div>
					<div class="col-lg-6">
						<div class="col-lg-8 googs_img">
							<a class="card" href="###">
								<img src="http://oneimg4.jia.com/content/public/resource/12808108/2017/01/74356_field_6_1484532839.jpg" alt="">
							</a>
						</div>
						<div class="col-lg-4 goods_detail">
							<div class="card-heading">
								<strong>居美现代简约亮光漆卧房四件套</strong>
							</div>
							<div class="card-content text-muted">全国可配送</div>
							<span class="text-red price">￥183</span>
							<a href="" class="label label-info">去看看 ></a>
						</div>

					</div>
				</div>

				<div class="cards cards_goods_list">
					<div class="col-lg-2">
						<a class="card" href="###">
							<img src="http://oneimg1.jia.com/content/public/resource/12808110/2015/11/70072_field_6_1448605425.jpg" alt="">
							<div class="col-lg-8 goods_left">
								<div class="card-heading">
									<strong>不锈钢篮拖把</strong>
								</div>
								<div class="card-content text-muted">良辰美景奈</div>
							</div>
							<div class="col-lg-4 goods_right">
								<span class="text-red price">￥183</span>
							</div>
						</a>
					</div>
					<div class="col-lg-2">
						<a class="card" href="###">
							<img src="http://oneimg1.jia.com/content/public/resource/12808110/2015/11/70072_field_6_1448605425.jpg" alt="">
							<div class="col-lg-8 goods_left">
								<div class="card-heading">
									<strong>不锈钢篮拖把</strong>
								</div>
								<div class="card-content text-muted">良辰美景奈</div>
							</div>
							<div class="col-lg-4 goods_right">
								<span class="text-red price">￥183</span>
							</div>
						</a>
					</div>
					<div class="col-lg-2">
						<a class="card" href="###">
							<img src="http://oneimg1.jia.com/content/public/resource/12808110/2016/03/70073_field_6_1458611279.jpg" alt="">
							<div class="col-lg-8 goods_left">
								<div class="card-heading">
									<strong>不锈钢篮拖把</strong>
								</div>
								<div class="card-content text-muted">良辰美景奈</div>
							</div>
							<div class="col-lg-4 goods_right">
								<span class="text-red price">￥183</span>
							</div>
						</a>
					</div>
					<div class="col-lg-2">
						<a class="card" href="###">
							<img src="http://oneimg1.jia.com/content/public/resource/12808110/2015/11/70074_field_6_1448605089.jpg" alt="">
							<div class="col-lg-8 goods_left">
								<div class="card-heading">
									<strong>不锈钢篮拖把</strong>
								</div>
								<div class="card-content text-muted">良辰美景奈</div>
							</div>
							<div class="col-lg-4 goods_right">
								<span class="text-red price">￥183</span>
							</div>
						</a>
					</div>
					<div class="col-lg-2">
						<a class="card" href="###">
							<img src="http://oneimg1.jia.com/content/public/resource/12808110/2015/11/70072_field_6_1448605425.jpg" alt="">
							<div class="col-lg-8 goods_left">
								<div class="card-heading">
									<strong>不锈钢篮拖把</strong>
								</div>
								<div class="card-content text-muted">良辰美景奈</div>
							</div>
							<div class="col-lg-4 goods_right">
								<span class="text-red price">￥183</span>
							</div>
						</a>
					</div>
					<div class="col-lg-2">
						<a class="card" href="###">
							<img src="http://oneimg5.jia.com/content/public/resource/12808110/2015/12/74344_field_6_1449132155.jpg" alt="">
							<div class="col-lg-8 goods_left">
								<div class="card-heading">
									<strong>不锈钢篮拖把</strong>
								</div>
								<div class="card-content text-muted">良辰美景奈</div>
							</div>
							<div class="col-lg-4 goods_right">
								<span class="text-red price">￥183</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container" id="tab1">
	<div class="row">
		<div class="col-lg-9">
			<div class="list">
				<!-- 列表头部 -->
				<!-- 列表项组 -->
				<section class="items">
					#{list articles, as:'article'}
						#{include '/Application/article_item.html' /}
					#{/list}
				</section>
			</div>
		</div>
		<div class="col-lg-3">
			<ul class="nav  nav-secondary">
				<li class="active">
					<a data-tab href="#tabContent1">家装学院</a>
				</li>
				<li>
					<a data-tab href="#tabContent2">绿色出行</a>
				</li>
				<li>
					<a data-tab href="#tabContent3">环保日记</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tabContent1">
					<div class="col-lg-12 tab_content">
						<ul class="list-group">
							<li class="list-group-item">
								<a href="#">2017胡润百富榜看透家居圈2017胡润百富榜看透家居圈</a>
							</li>
							<li class="list-group-item">
								<a href="#">造节营销渐成企业吸睛术</a>
							</li>
							<li class="list-group-item">
								<a href="#">居家适老化改造不能等</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-pane" id="tabContent2">
					<div class="col-lg-12 tab_content">
						<ul class="list-group">
							<li class="list-group-item">
								<a href="#">2017胡润百富榜看透家居圈</a>
							</li>
							<li class="list-group-item">
								<a href="#">造节营销渐成企业吸睛术</a>
							</li>
							<li class="list-group-item">
								<a href="#">居家适老化改造不能等</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-pane" id="tabContent3">
					<div class="col-lg-12 tab_content">
						<ul class="list-group">
							<li class="list-group-item">
								<a href="#">2017胡润百富榜看透家居圈</a>
							</li>
							<li class="list-group-item">
								<a href="#">造节营销渐成企业吸睛术</a>
							</li>
							<li class="list-group-item">
								<a href="#">居家适老化改造不能等</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

#{set 'moreStyles'}
	  <link rel="stylesheet" type="text/css" href="/public/stylesheets/index.css" />
#{/set}