.right_bar .panel:first-child {
	margin-top: 100px;
}

.right_bar .panel .list-group {
	margin-bottom: 0px;
}

.right_bar .panel .list-group-item {
	padding: 2px 5px;
	border: 0px;
}

.goods .card {
	border-radius: 0px;
}

.comment:last-child {
	border-bottom: 0px;
}