#{extends '/layout/main.html' /}
#{set title:'登录' /}


<div class="container">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1 login">

			<div class="col-lg-5">
				<img class="showimg" src="/public/cnenvs/img/timg.jpg">
			</div>

			<div class="col-lg-5 pull-right login_form">
				<div class="panel">
					<div class="panel-heading">
						登录账户
					</div>
					<div class="panel-body">
						#{if flash.error}
							<div class="alert alert-danger alert-dismissible" role="alert">
								&{flash.error}
							</div>
						#{/if}
						#{if flash.success}
							<div class="alert alert-success alert-dismissible" role="alert">
								&{flash.success}
							</div>
						#{/if}
						#{form @loginAction()}
							<div class="form-group">
								<label for="username">&{'mobile'}</label>
								<input type="text" class="form-control"id="username" value="${flash.username}" placeholder="电子邮件/手机号/用户名">
							</div>
							<div class="form-group">
								<label for="password">密码</label>
								<input type="password" class="form-control" id="password" placeholder="密码">
							</div>

							<div class="checkbox">
								<label>
							      <input type="checkbox"> 记住用户名
							    </label>
								<label>
							    	<a href="./forgot.html" class="pull-right">忘记密码?</a>
							    </label>
							</div>
							<button type="submit" class="btn btn-info btn-block"  id="signin" >&{'secure.signin'}</button>
							<div class="form-group reg">
								<span><i class="icon icon-wechat"></i> <a href="">微信登录</a></span>
								<span class="pull-right"><a href="./reg.html">免费注册</a></span>
							</div>
						#{/form}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="/public/cnenvs/css/common.css" />
<link rel="stylesheet" type="text/css" href="/public/cnenvs/css/login.css" />
#{/set}
#{set 'moreScripts'}
<script>
	$(function(){
		$("#captcha").click(function(){
			$(this).attr("src","/captcha?"+Math.random());
		})
		$("#sms").click(function(){
			$alert("短信模式未实现")
			console.log($("#username").val());
		})
	})
</script>
#{/set}
   