<div class="container-fluid page-footer">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<ul class="list-group">
				<li class="list-group-item">
					<a href="#">关于我们</a>
				</li>
				<li class="list-group-item">
					<a href="#">联系我们</a>
				</li>
				<li class="list-group-item">
					<a href="#">媒体报道</a>
				</li>
				<li class="list-group-item">
					<a href="#">法律声明</a>
				</li>
				<li class="list-group-item">
					<a href="#">企业文化</a>
				</li>
				<li class="list-group-item">
					<a href="#">友情链接</a>
				</li>
				<li class="list-group-item">
					<a href="#">诚聘英才</a>
				</li>
				<li class="list-group-item">
					<a href="#">网站地图</a>
				</li>
				<li class="list-group-item">
					<a href="#">加盟中环蓝</a>
				</li>
				<li class="list-group-item">
					<a href="#">入驻中环蓝</a>
				</li>
				<li class="list-group-item">
					<a href="#">掌上中环蓝</a>
				</li>
				<li class="list-group-item">
					<a href="#">帮助中心</a>
				</li>
			</ul>
		</div>
		<div class="col-lg-12 copyright">
			<p>中环蓝 版权所有Copyright © 2010-2017 www.cnenvs.com All rights reserved</p>
			<p>京ICP备13000654号-6</p>
		</div>
	</div>
</div>