<header>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<!-- 导航头部 -->
			<div class="navbar-header">
				<!-- 品牌名称或logo -->
				<a class="navbar-brand" href="/">中环蓝</a>
			</div>
			<!-- 导航项目 -->
			<div class="collapse navbar-collapse navbar-collapse-example">
				<!-- 一般导航项目 -->
				<ul class="nav navbar-nav">
					<!-- 导航中的下拉菜单 -->
					<li class="dropdown">
						<a href="your/nice/url" class="dropdown-toggle" data-toggle="dropdown">环保大学 <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="your/nice/url">装修学院</a>
							</li>
							<li>
								<a href="your/nice/url">绿色出行学院</a>
							</li>
							<li>
								<a href="your/nice/url">环保日记</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="your/nice/url" class="dropdown-toggle" data-toggle="dropdown">购环保 <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="your/nice/url">绿色家装馆</a>
							</li>
							<li>
								<a href="your/nice/url">新能源馆</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="your/nice/url" class="dropdown-toggle" data-toggle="dropdown">环保经济 <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="your/nice/url">循环经济</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="your/nice/url" class="dropdown-toggle" data-toggle="dropdown">环保与健康<b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="your/nice/url">戒烟手册</a>
							</li>
						</ul>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="./reg.html">免费注册</a>
					</li>
					<li>
						<a href="./login.html">登录</a>
					</li>
					<li class="dropdown">
						<a href="your/nice/url" class="dropdown-toggle" data-toggle="dropdown">帮助 <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="./help.html">联系我们</a>
							</li>
							<li>
								<a href="./help.html">关于我们</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- END .navbar-collapse -->
		</div>
	</nav>
</header>